<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>eCompagnon culturel</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"  href="/css/style.css" media="screen" />
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
<div class="entete">
    <div class="titre"><h1><i>e</i>Compagnon culturel</h1></div>

</div>
<p><h1>Ce lien est expiré.</h1><p>
</body>
</html>
</title>
</head>
<body>

</body>
</html>
